@model Patient_Tracker.Models.DTOs.Facilities

@{
    ViewData["Title"] = "AddFacility";
}

<h3 style="text-align:center; margin-top:20px;">Add Facility For The Appointment Id  @ViewBag.Id</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddFacility">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            
            <div class="form-group">
                <label asp-for="AppointmentId" class="control-label"></label>
                <label asp-for="AppointmentId" >   @ViewBag.Id    </label>
               
                <span asp-validation-for="AppointmentId" class="text-danger"></span>

            </div>
             <div class="form-group">
                <label asp-for="ConsultationId" class="control-label">Purpose</label>
                <select asp-for="ConsultationId" class="form-control" asp-items="@ViewBag.ConsultationPurpose"></select>
                <span asp-validation-for="ConsultationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label">RoomType</label>
                <select asp-for="RoomId" class="form-control" asp-items="@ViewBag.RoomDetails"></select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabTestId" class="control-label">LabTestName</label>
                <select asp-for="LabTestId" class="form-control" asp-items="@ViewBag.Labtests"></select>
                <span asp-validation-for="LabTestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
            </
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
