@model IEnumerable<Patient_Tracker.Models.HospitalServices.PatientRegistory>

@{
    ViewData["Title"] = "Appointed";
}
@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}

<h3>List of Appointment </h3>
<div class="col-md-6" style="margin-top:10px;float:left">
    <a  asp-action="Register" asp-controller="Admin" class="btn btn-secondary m-5 "><b>New Apppontment</b></a>
</div>
<div class="col-md-3" style="margin-top:10px;float:right">
    <a asp-action="Billing" asp-controller="Admin" class="btn btn-secondary m-5 "><b>Genarate Bill</b></a>
</div>




<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Appointment Id</th>
            <th scope="col">Paseint Id</th>
            <th scope="col">Doctor Id</th>
            <th scope="col">Date of Appointment</th>
            <th scope="col">Status</th>
            <th scope="col">Add Facility</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PateintId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => (item.DateOfRegi))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Add Facility", "AddFacility", new {  id=item.Id  })
                    
                </td>
            </tr>
        }
    </tbody>
</table>
