@model Patient_Tracker.Models.HospitalServices.PatientRegistory

@{
    ViewData["Title"] = "Details";
}



<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3 style="align-content:center;color:palevioletred">Hello, @ViewBag.UserName</h3>

      <h3 style="align-content:center;color:palevioletred">Your Patinet Id Is : @Html.DisplayFor(model => model.PateintId)</h3>


    </div>
  
    <div class="col-sm">
    <h3 style="align-content:center;color:palevioletred">AppointmentId :  @Html.DisplayFor(model => model.Id)</h3>

    <h3 style="align-content:center;color:palevioletred">Date Of Appointment: @Html.DisplayFor(model => model.DateOfRegi)</h3>

    </div>
  </div>
</div>


 <hr />

 <div class="modal-body row">
  <div class="col-md-6">
   <div><h4 style="color:black">Priscription</h4></div>
	<div class="panel-body">
    	@Html.DisplayFor(model=>model.Priscription)
    </div>
  </div>
  <div class="col-md-6">
    <div ><h4  style="color:black">Exercise and Diet</h4> </div>
	<div class="panel-body">
    	@Html.DisplayFor(model=>model.ExerciseOrDiet)
    </div>
  </div>
</div>

 


      

<div style="align-self:baseline">
    
    <a asp-action="ViewRecord">Go Back </a>
</div>
